<div class="container-fluid">
  <div
    *ngFor="let category of categories"
    class="row justify-content-center align-items-center"
    style="height: 100vh"
  >
    <button tuiSurface="elevated" class="button">
      <div class="justify-content-center align-items-center">
        <span [ngClass]="{ 'expense': category.type === 'expense', 'income': category.type === 'income' }">{{ category.type }}</span>
        <span>
          <span class="title">{{ category.name }}</span>
        </span>
      </div>
    </button>
  </div>
</div>
