.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .footer-menuitem{
    font-family: var(--tui-heading-font);
    font-size: 14px;
}

html,body{
    margin: 0;
    height: 100%;
    margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: #da0023;
    text-decoration: none;
}