.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer .footer-menuitem{
    font-family: var(    --tui-heading-font);
    font-size: 14px;
}

html,body{
    margin: 0;
    background-color: var(--tui-base-02);
    color: white;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
